
<div class="first1">
  <h1 class="first_internal1">Make a global impact</h1>
  <p class="first_internal1">Create an online video course and earn money by teaching people around the world</p>
  <button type="button" name="button" class="tb">
    <%= link_to "Become an instructor",new_teacher_session_path %>
  </button>
</div>
<div class="secondteaching">
  <h1>Discover your potential</h1>
  <div class="">
    <div class="">
      <i class='fas fa-piggy-bank' style='font-size:48px;'></i>
    </div>
    <div class="">

    </div>
    <div class="">

    </div>

  </div>

</div>
